/* listed in alphanumerical order */

a:hover {
	text-decoration:underline;
	color:#048;
	text-shadow:1px 1px 5px #999;
}

a:link, a:visited {
	text-decoration:none;
	color:#0087E2;
	font-weight:bold;
	text-shadow:1px 1px 5px #999;
}

body {
	margin:0px;
	background-color:#111;
	font-family: "verdana", sans-serif;
}

div#bottom {
	background-color:#eee;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	width:842px;
	height:412px;
}

div#content {
	background-color:#eee;
	width:862px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:20px;
	border:2px solid gray;
	position:relative;
}

div#footer {
	width:862px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	margin-bottom:50px;
	border:1px solid gray;
}

div#image {
	background-color: white;
	height: 340px;
	width: 320px;
	position: absolute;
	top: 64px;
}

div#top {
	height:400px;
}

div#video {
	padding:10px;
}

h1,h2,h3,h4,h5,h6 {
	margin:10px;
	color:#888;
	text-shadow:1px 1px 5px #999;
}
	
.head {
	vertical-align:middle; 
	text-align:center;
}

.content {
	vertical-align:top;
}

.whitetext {
	color:#eee;
}